@font-face {
    font-family: 'BentonSans-Bold';
    src: url('../fonts/BentonSans-Bold.eot');
    src: url('../fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BentonSans-Bold.woff') format('woff'),
    url('../fonts/BentonSans-Bold.ttf') format('ttp'),
    url('../fonts/BentonSans-Bold#svgFontName') format('svg');
}

@font-face {
    font-family: 'BentonSans-Medium';
    src: url('../fonts/BentonSans-Medium.eot');
    src: url('../fonts/BentonSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BentonSans-Medium.woff') format('woff'),
    url('../fonts/BentonSans-Medium.ttf') format('ttp'),
    url('../fonts/BentonSans-Medium.svg#svgFontName') format('svg');
}

*{
	margin:0;
	padding:0;
}

html{
	background: #1f1f1f;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

body{
	font-size: 18px;
	color:#fff;
	font-family: 'BentonSans-Medium';
}

a, a:visited, a:hover{
	color:#fff;
	text-decoration: none;
}


fieldset {
	border: none !important;
	margin: none !important;
}

input {
	border:none !important;
}


#header {
    height:64px;
    width:100%;
    background-color: #f0ab00;
}


.logo img {
    margin-top:8px;
    margin-left:15px;
}

.form {
	border: 2px solid #f0ab00;
	margin:50px;
	padding:20px;
	text-align:center;
	border-radius: 25px;
}

.mainButton {
    width:200px;
    height:38px;
    font-size:18px;
    background-color: #f0ab00;
    padding:10px;
    border-radius: 5px;
    color:#fff;
}

/* The cover flow slider */

.flipster {
	margin-top:120px;
}

.flipster ul li {
	text-align: center;
}

.flipster ul li a {
	text-align: center;
}

.flipster ul li a:after{
	content:'oo';
	letter-spacing: -2px;
	font-size: 12px;
	color:orange;
	margin-left:5px;
	font-weight: bold;
}

.flip-item img{
	margin-bottom: 10px;
}

/* Stats */

.stats{
	text-align: center;
	margin-top: 80px;
	color: #8C91A0;
	font-size: 13px;
}

.stats span{
	font-weight: bold;
	color: #A2A9BD;
	margin-right: 10px;
}