
@font-face {
  font-family: 'BentonSans-Bold';
  src: url('BentonSans-Bold.eot?#iefix') format('embedded-opentype'),  url('BentonSans-Bold.woff') format('woff'), url('BentonSans-Bold.ttf')  format('truetype'), url('BentonSans-Bold.svg#BentonSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
